@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@keyframes PageTwoToPageOne {
    0% {
        background: #1f4e79;
    }
    100% {
        background: #efeae6;
    }
}

@keyframes PageOneToPageTwo {
    0% {
        background: #efeae6;
    }
    100% {
        background: #1f4e79;
    }
}

@keyframes PageThreeToPageTwo {
    0% {
        background: #8fc9ae;
    }
    100% {
        background: #1f4e79;
    }
}

@keyframes PageTwoToPageThree {
    0% {
        background: #1f4e79;
    }
    100% {
        background: #8fc9ae;
    }
}

@keyframes PageFourToPageThree {
    0% {
        background: #9cd9de;
    }
    100% {
        background: #8fc9ae;
    }
}

@keyframes PageThreeToPageFour {
    0% {
        background: #8fc9ae;
    }
    100% {
        background: #9cd9de;
    }
}

@keyframes PageFiveToPageFour {
    0% {
        background: #e16262;
    }
    100% {
        background: #9cd9de;
    }
}

@keyframes PageFourToPageFive {
    0% {
        background: #9cd9de;
    }
    100% {
        background: #e16262;
    }
}

@keyframes PageSixToPageFive {
    0% {
        background: #c5ecbe;
    }
    100% {
        background: #e16262;
    }
}

@keyframes PageFiveToPageSix {
    0% {
        background: #e16262;
    }
    100% {
        background: #c5ecbe;
    }
}

@keyframes PageSevenToPageSix {
    0% {
        background: #a4c3d2;
    }
    100% {
        background: #c5ecbe;
    }
}

@keyframes PageSixToPageSeven {
    0% {
        background: #c5ecbe;
    }
    100% {
        background: #a4c3d2;
    }
}

@keyframes PageEightToPageSeven {
    0% {
        background: #d3f5ff;
    }
    100% {
        background: #a4c3d2;
    }
}

@keyframes PageSevenToPageEight {
    0% {
        background: #a4c3d2;
    }
    100% {
        background: #d3f5ff;
    }
}

@keyframes PageNineToPageEight {
    0% {
        background: #653780;
    }
    100% {
        background: #d3f5ff;
    }
}

@keyframes PageEightToPageNine {
    0% {
        background: #d3f5ff;
    }
    100% {
        background: #653780;
    }
}

@keyframes PageTenToPageNine {
    0% {
        background: #f2e6ce;
    }
    100% {
        background: #653780;
    }
}

@keyframes PageNineToPageTen {
    0% {
        background: #653780;
    }
    100% {
        background: #f2e6ce;
    }
}

@keyframes HideContent {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ShowContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    max-width: 100vw;
    max-height: -webkit-fill-available;
}

.h-mobile-screen {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

div[data-ishidden='true'] {
    animation: 0.5s linear 0s HideContent;
    opacity: 0;
}

div[data-ishidden='false'] {
    animation: 0.5s linear 0s ShowContent;
}

.background-container[data-currentroute='/OurStart'] {
    background: #efeae6;
    color: #65503e;
}

.background-container[data-currentroute='/OurStart?from=right'] {
    animation: 0.5s linear 0s PageTwoToPageOne;
    background: #efeae6;
    color: #65503e;
}

.background-container[data-currentroute='/OurFirstMet'] {
    background: #1f4e79;
    color: #8edffa;
}

.background-container[data-currentroute='/OurFirstMet?from=left'] {
    animation: 0.5s linear 0s PageOneToPageTwo;
    background: #1f4e79;
    color: #8edffa;
}

.background-container[data-currentroute='/OurFirstMet?from=right'] {
    animation: 0.5s linear 0s PageThreeToPageTwo;
    background: #1f4e79;
    color: #8edffa;
}

.background-container[data-currentroute='/OurFirstCall'] {
    background: #8fc9ae;
    color: #385b66;
}

.background-container[data-currentroute='/OurFirstCall?from=left'] {
    animation: 0.5s linear 0s PageTwoToPageThree;
    background: #8fc9ae;
    color: #385b66;
}

.background-container[data-currentroute='/OurFirstCall?from=right'] {
    animation: 0.5s linear 0s PageFourToPageThree;
    background: #8fc9ae;
    color: #385b66;
}

.background-container[data-currentroute='/OurPenangTrip'] {
    background: #9cd9de;
    color: #588d9c;
}

.background-container[data-currentroute='/OurPenangTrip?from=left'] {
    animation: 0.5s linear 0s PageThreeToPageFour;
    background: #9cd9de;
    color: #588d9c;
}

.background-container[data-currentroute='/OurPenangTrip?from=right'] {
    animation: 0.5s linear 0s PageFiveToPageFour;
    background: #9cd9de;
    color: #588d9c;
}

.background-container[data-currentroute='/OurFirstDate'] {
    background: #e16262;
    color: #fabc60;
}

.background-container[data-currentroute='/OurFirstDate?from=left'] {
    animation: 0.5s linear 0s PageFourToPageFive;
    background: #e16262;
    color: #fabc60;
}

.background-container[data-currentroute='/OurFirstDate?from=right'] {
    animation: 0.5s linear 0s PageSixToPageFive;
    background: #e16262;
    color: #fabc60;
}

.background-container[data-currentroute='/OurKLTrip'] {
    background: #c5ecbe;
    color: #4797b1;
}

.background-container[data-currentroute='/OurKLTrip?from=left'] {
    animation: 0.5s linear 0s PageFiveToPageSix;
    background: #c5ecbe;
    color: #4797b1;
}

.background-container[data-currentroute='/OurKLTrip?from=right'] {
    animation: 0.5s linear 0s PageSevenToPageSix;
    background: #c5ecbe;
    color: #4797b1;
}

.background-container[data-currentroute='/OurFirstDay'] {
    background: #a4c3d2;
    color: #78a2cc;
}

.background-container[data-currentroute='/OurFirstDay?from=left'] {
    animation: 0.5s linear 0s PageSixToPageSeven;
    background: #a4c3d2;
    color: #78a2cc;
}

.background-container[data-currentroute='/OurFirstDay?from=right'] {
    animation: 0.5s linear 0s PageEightToPageSeven;
    background: #a4c3d2;
    color: #78a2cc;
}

.background-container[data-currentroute='/OurBangkokTrip'] {
    background: #d3f5ff;
    color: #232a31;
}

.background-container[data-currentroute='/OurBangkokTrip?from=left'] {
    animation: 0.5s linear 0s PageSevenToPageEight;
    background: #d3f5ff;
    color: #232a31;
}

.background-container[data-currentroute='/OurBangkokTrip?from=right'] {
    animation: 0.5s linear 0s PageNineToPageEight;
    background: #d3f5ff;
    color: #232a31;
}

.background-container[data-currentroute='/OurFirstCoding'] {
    background: #653780;
    color: #3f1651;
}

.background-container[data-currentroute='/OurFirstCoding?from=left'] {
    animation: 0.5s linear 0s PageEightToPageNine;
    background: #653780;
    color: #3f1651;
}

.background-container[data-currentroute='/OurFirstCoding?from=right'] {
    animation: 0.5s linear 0s PageTenToPageNine;
    background: #653780;
    color: #3f1651;
}

.background-container[data-currentroute='/OurJapanTrip'] {
    background: #f2e6ce;
    color: #b22124;
}

.background-container[data-currentroute='/OurJapanTrip?from=left'] {
    animation: 0.5s linear 0s PageNineToPageTen;
    background: #f2e6ce;
    color: #b22124;
}
